/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
} */

body {
    background: #000;
}

.form-wrapper h2 {
    color: #fff;
    font-size: 2rem;
    margin-top: 0px; /* Removes the default top margin */
    padding-top: 0; /* Removes any padding on the top */
}

nav {
    position: fixed;
    z-index: 1;
    padding: 25px 60px;
}

nav a img {
    border-radius: 0;
    filter: brightness(50%);
}

body::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../loginbackground.jpg") no-repeat;
    filter: brightness(50%);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.form-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 60px;
    width: 430px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.75);
    transform: translate(-50%, -50%);
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type=text], input[type=password], select {
    width: 100%;
    padding: 20px;
    margin: 8px 0;
    display: inline-block;
    background: #333;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;
    border: none;
    height: 50px;
    color: #fff;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 16px 0px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    margin: 25px 0 10px;
    transition: 0.1s ease;
}

input[type=submit]:hover {
    background-color: #388e3c;

}

img {
    height: 100px; /* 调整图片大小 */
    border-radius: 50%; /* 使图片变圆 */
    margin-top: 10px;
}

.profile-choice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.profile-choice div {
    margin: 10px;
}

label {
    cursor: pointer;
    color: #8c8c8c;
    font-size: 1.1rem;
}

.form-help {
    display: flex;
    justify-content: space-between;
}

.form-wrapper :where(p, small, a) {
    color: #b3b3b3;
}

.form-help :where(p, a) {
    font-size: 0.9rem;
}

.form-wrapper a {
    text-decoration: none;
}

.form-help a:hover {
    text-decoration: underline;
}

@media (max-width: 740px) {
    body::before {
        display: none;
    }

    nav, .form-wrapper {
        padding: 20px;
    }

    nav a img {
        width: 140px;
    }

    .form-wrapper {
        top: 43%;
        width: 100%;
    }
}