/* 这是一个单独的CSS文件，包含了页面的所有样式定义 */
.top-nav-bar {
    display: flex; /* 使用弹性盒子布局 */
    justify-content: space-between;
    align-items: center; /* 子元素垂直居中 */
    /* padding: 30px 20px; 上下30px，左右20px的内边距 */
    background: #535c5f;
}

.nav-button {
    background: none; /* 按钮无背景色 */
    border: none; /* 按钮无边框 */
    padding: 10px 10px; /* 按钮内边距 */
    cursor: pointer; /* 鼠标悬停时显示指针形状 */
    margin-right: 20px; /* 右边距20px */
}

.nav-button:first-child {
    margin-right: 40px;
}

.page-title {
    flex-grow: 1;
    text-align: center;
    margin: 0; /* Remove default margin */
}

.fixed-bottom-bar {
    position: fixed; /* 固定位置 */
    bottom: 0; /* 在底部 */
    left: 0; /* 从左边开始 */
    width: 100%; /* 宽度占满整个屏幕 */
    background-color: #fff; /* 背景颜色，可以根据需要更改 */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* 可选的阴影效果 */
    display: flex;
    justify-content: space-around; /* 图标平均分布 */
    padding: 10px 0; /* 上下填充 */
    flex-wrap: wrap; /* 允许图标换行 */
    align-items: center; /* 图标垂直居中 */
}

.icon-button.active-icon::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #4CAF50;
}

.icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: column; /* 使图标和名称垂直排列 */
    align-items: center; /* 中心对齐 */
    text-align: center; /* 确保文本居中 */
}

.icon-button img {
    width: 80px; /* 图标大小，根据需要调整 */
    height: auto;
}

.icon-button span {
    font-size: 12px; /* 调整名称的字体大小 */
    margin-top: 5px; /* 在图标和名称之间添加一些空间 */
}

/* 模态框的基本样式 */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定在页面上 */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 背景色半透明 */
}

/* 模态内容的样式 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% 从顶部开始，居中 */
    padding: 60px;
    border: 1px solid #888;
    width: 80%; /* 可以根据需求调整宽度 */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/*!* 关闭按钮样式 *!*/
/*.close-button {*/
/*    color: #aaa;*/
/*    float: right;*/
/*    font-size: 46px;*/
/*    font-weight: bold;*/
/*}*/

/*.close-button:hover,*/
/*.close-button:focus {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/

/* 搜索输入框样式 */
#search-input {
    width: 80%; /* 调整输入框的宽度 */
    padding: 10px; /* 增加内边距 */
    font-size: 32px; /* 字体大小 */
    border: 1px solid #ccc; /* 边框样式 */
    border-radius: 4px; /* 轻微的圆角 */
    margin-bottom: 10px; /* 底部外边距 */
}

/* 搜索按钮样式 */
#search-form button {
    padding: 10px 20px; /* 增加内边距 */
    font-size: 32px; /* 字体大小 */
    border: 1px solid #ccc; /* 边框样式 */
    border-radius: 4px; /* 圆角 */
    cursor: pointer; /* 鼠标悬停时显示指针形状 */
    background-color: #4CAF50; /* 按钮背景色 */
    color: white; /* 文字颜色 */
}

#search-modal .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% 从顶部开始，居中 */
    padding: 60px;
    border: 1px solid #888;
    width: 80%; /* 可以根据需求调整宽度 */
}

#search-form button:hover {
    background-color: #45a049; /* 鼠标悬停时的背景色 */
}

/* ai chat */
/* 聊天记录样式 */
.chat-history {
    height: 300px; /* 可调整高度 */
    overflow-y: auto; /* 添加滚动条 */
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 30px;
    padding: 10px;
}

/* 文字输入框样式 */
#chat-input {
    width: calc(100% - 90px); /* 让输入框和发送按钮并排 */
    padding: 10px;
    margin-right: 10px; /* 在输入框和发送按钮之间添加一些空间 */
    font-size: 30px;
    box-sizing: border-box;
}

/* 发送按钮样式 */
#send-message {
    width: 100px;
    padding: 20px;
    font-size: 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#send-message:hover {
    background-color: #45a049;
}


.faq-question {
    background-color: #eee; /* 问题部分的背景颜色为浅灰色 */
    color: #444; /* 文字颜色为深灰色 */
    cursor: pointer; /* 鼠标悬停时显示为指针形状，表示这是一个可点击的元素 */
    padding: 32px; /* 内边距为32像素，增加点击区域的大小，提升可点击性 */
    width: 100%; /* 宽度设置为100%，使得问题部分填满其父元素的宽度 */
    text-align: left; /* 文字左对齐 */
    border: none; /* 无边框 */
    outline: none; /* 点击时无轮廓线 */
    transition: 0.4s; /* 过渡效果的持续时间为0.4秒，使得样式变化更平滑 */
    font-size: 32px;
}

.faq-answer {
    padding: 0 32px; /* 答案部分左右各有32像素的内边距 */
    font-size: 32px;
    background-color: white; /* 答案部分的背景颜色为白色 */
    display: none; /* 默认情况下答案不显示 */
    overflow: hidden; /* 内容溢出隐藏，配合折叠效果使用 */
}

.setting-option-button {
    /* 按钮样式，根据需要调整 */
    background: none;
    border: none;
    cursor: pointer;
}


#setting-modal #create-folder-button {
    border: none; /* 移除边框 */
    /* 如果需要，可以添加其他样式 */
}


.setting-option-button img {
    /* 图片样式，根据需要调整 */
    width: 50px; /* 示例宽度 */
    height: auto;
}

.modal-content p {
    /* 文本标签的样式 */
    text-align: center; /* 居中对齐文本 */
    margin-top: 5px; /* 在按钮和文本之间添加一些空间 */
}

/* 包裹文件夹图标的容器样式 */
.folder-container {
    display: flex; /* 使用Flexbox布局 */
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 800px; /* Adjust this value to fit four icons per row */
    margin: 0 auto;
}

/* 文件夹图标的样式 */
.folder-icon {
    width: 25%; /* Each icon takes up 25% of the container width */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* other styles */
}

.folder-icon img {
    /*width: 100px; !* 根据需要设置适当的宽度 *!*/
    /*height: auto; !* 保持图片比例 *!*/
    /*cursor: pointer; !* 鼠标悬停时显示指针 *!*/
    margin: 0 auto;
}

.folder-icon span {
    /* If your name is within a span or similar element */
    width: 100%; /* Ensures the text spans the full width of the container */
    /* other styles */
}

.folder-label {
    display: block; /* 使其成为块级元素 */
    text-align: center; /* 文本居中 */
    margin-top: 5px; /* 距离图标的间距 */
    font-size: 25px; /* 根据需求调整字体大小 */
}

/**/
/* 模态框基础样式 */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 确保它在页面内容之上 */
    left: 0;
    top: 0;
    width: 100%; /* 全宽 */
    height: 100%; /* 全高 */
    overflow: auto; /* 如果需要滚动条 */
    background-color: rgba(0, 0, 0, 0.4); /* 半透明背景 */
}

/* 模态框内容样式 */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 位于页面中央 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 根据需要设置适当的宽度 */
    display: flex; /* 使用Flexbox布局 */
    flex-wrap: wrap; /* 允许子元素换行 */
    justify-content: flex-start; /* 子元素向行首对齐 */
}

.add-button {
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Spacing inside the button */
    font-size: 16px; /* Text size */
    color: #333; /* Dark grey text */
    text-align: left; /* Align text to the left */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    gap: 10px; /* Space between icon and text */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
    cursor: pointer; /* Pointer cursor on hover */
}

.add-button:hover {
    background-color: #e8e8e8; /* Slightly darker grey on hover */
}

.add-button img {
    width: 20px; /* Fixed icon size */
    height: 20px; /* Fixed icon size */
}

.close-button {
    /* existing styles */
}

/*}*/
.app-icon {
    /*flex: 0 0 22%; !* 每个图标占用20%的宽度 *!*/
    /*max-width: 22%; !* 确保每个图标的最大宽度为一行的22% *!*/
    /*box-sizing: border-box; !* 包含padding和border在内宽度 *!*/
    margin-bottom: 30px; /* 增加行与行之间的间距 */
    text-align: center; /* 文字居中 */
}

.app-icon img {
    width: 100%; /* 图片宽度设置为100% */
    height: auto; /* 图片高度自动 */
    max-width: 100px; /* 限制图片的最大宽度 */
    margin: 0 auto; /* 图片居中 */
}

.app-icon span {
    /* If your name is within a span or similar element */
    width: 100%; /* Ensures the text spans the full width of the container */
    margin-top: 0;
    /* other styles */
}

.app-label {
    margin-top: 10px; /* 与图标之间的距离 */
    /*text-align: center; !* 文本居中 *!*/
    /*display: block; !* 使其成为块级元素 *!*/
    /*font-size: 14px; !* 文本的大小 *!*/
}


/*右击*/
/* Style for small modal */
.small-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.small-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

/*The Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style for software icons inside the modal */
.small-modal-content img {
    padding: 10px; /* Space around the images */
    margin: 10px; /* Space between the images */
    width: 100px; /* 图像的宽度 */
    height: auto; /* 保持图像的纵横比 */
    display: block; /* 使图像成为块级元素，以便名称可以显示在下方 */

}

.custom-context-menu {
    display: none;
    position: absolute;
    z-index: 1000; /* 保证在最顶层 */
}

/* 可见状态的样式，通过JavaScript动态添加这个类 */
.custom-context-menu.visible {
    display: block;
}


.folder-menu {
    display: none;
    position: absolute;
    z-index: 1000; /* 保证在最顶层 */
}

/* 可见状态的样式，通过JavaScript动态添加这个类 */
.folder-menu.visible {
    display: block;
}


/* 应用图标样式 */
.modal-content a img {
    width: 100px; /* 应用图标尺寸 */
    height: auto;
    margin: 50px;
}


/* 人工客服相关内容的样式 */
#customer-service-modal .welcome-message {
    font-size: 30px;
    margin-top: 20px;
}


#customer-service-modal form {
    margin-top: 40px;
}

#customer-service-modal input,
#customer-service-modal textarea {
    width: 100%;
    padding: 8px;
    margin: 20px 0;
    box-sizing: border-box; /* 包含边框和内边距在宽度内 */
    font-size: 30px;
}

#customer-service-modal button {
    /* 根据需要调整样式 */
    font-size: 40px;
}

.app-category-list {
    display: flex;
    flex-direction: column;
}

.app-category-item {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.app-icons-container {
    display: none;
    /* 其他样式来控制显示位置等 */
}

/* 当.app-icons-container显示时的样式 */
.app-icons-container.active {
    display: flex;
    /* 可能需要其他样式来调整布局 */
}

.current-category-name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 定义选中类别的样式 */
.selected-category {
    background-color: #f0f0f0; /* 您可以选择任何颜色 */
    /* 其他样式，如边框等 */
}

/* 顶部导航样式 */
/* 顶部导航栏样式 */
.top-categories {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f0f0f0;
}

/* 顶部每个类别样式 */
.top-categories .category {
    flex-grow: 1; /* 每个类别平均分配空间 */
    text-align: center; /* 文字居中 */
    padding: 10px 0; /* 上下padding确保点击区域较大 */
    cursor: pointer; /* 鼠标悬停显示指针，增强可点击的视觉效果 */
    
}

/* 被激活的类别样式 */
.top-categories .category.active {
    background-color: #73939c; /* 激活状态的背景色 */
    color: white; /* 激活状态的文字颜色 */
}

/* 在非激活状态下鼠标悬停的样式 */
.top-categories .category:hover {
    background-color: #e7e7e7;
    transition: background-color 0.3s;
}

/* 应用图标容器样式 */
#app-icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.apps-container {
    display: none; /* Hide all app containers by default */
    /*flex-wrap: wrap;*/
    /*align-items: flex-start;*/
    /*gap: 30px; !* 增加图标之间的间距 *!*/
    /*justify-content: flex-start; !* 更改为靠左对齐 *!*/
    /*padding: 20px;*/
    grid-template-columns: repeat(4, 1fr); /* 创建四列，每列大小相等 */
    gap: 20px; /* 设置图标之间的间距 */
    justify-items: center; /* 使每个图标在它的格子中居中 */
    justify-content: center; /* 使所有的列在容器中居中 */
}

.apps-container.active {
    display: grid;
}
