<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Add any additional CSS or JS here -->
    <link rel="stylesheet" type="text/css" href="static/css/login.css">

</head>
<body>
    <div>
        <h1>Welcome to KompAki</h1>
        <h2>Login</h2>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
        <p>Or continue as a <a href="/index">visitor</a></p>
    </div>
</body>
</html>
